.accueil-introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accueil-introduction img {
  width: 40%;
  height: 40%;
  margin-left: 80px;
}
.accueil-photos {
  background-color: white;
  padding: 50px;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  padding-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.section-contact h2 {
  text-align: center;
  margin-bottom: 40px;
}

form {
  width: 50%;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

.form-nom {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex: 1;
}

input,
textarea {
  padding: 15px;
  border-radius: 3px;
  border: none;
}

input [type="submit"] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

.section-contact .cta {
  margin-left: 30%;
  margin-right: 30%;
}
